{
  "extends":[
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "prettier/react",
    "prettier/standard"

  ],
  "parser": "babel-eslint",
  "env": { "es6": true, "browser": true, "node": true },
  "plugins": [
    "react-hooks",
    "simple-import-sort",
    "prettier",
    "import"
  ],
  "rules": {
    "max-len": [1, 100, 2, {"ignoreComments": true}],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-console": "warn",
    "no-trailing-spaces": "error",
    "no-unused-expressions": "error",
    "no-unused-vars": "off",
    "simple-import-sort/sort": "error",
    "prettier/prettier": "error",
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error"
  }
}