$color-blue: blue;

.projectname-app {
  &__container{
    margin:auto;
    color: $color-blue;
    font-size: 2rem;
    display:flex;
    width: 80%;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    &__cat-picture{
      object-fit:cover;
    }
  }
}